---
import '../styles/global.css'
import ContentWrapper from "../components/ContentWrapper.astro";
import Headline from "../components/Headline.astro";
import { getCollection } from 'astro:content'
import SmallNavigation from '../components/SmallNavigation.astro';

const posts = (await getCollection('blog')).sort((a,b) => a.data.date.valueOf() - b.data.date.valueOf());
---
<style>
	h1 {
		margin-bottom: 5px;
		margin-top:0px;
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Headline title={"ADVENTURES"}></Headline>
		<SmallNavigation page="adventures" showBack={false} showHome showBlog showContact></SmallNavigation>
        <ContentWrapper>
			{
				posts.map(post => (
					<div id={post.id}>
						<h1><a href={`/blog/${post.id}`}>{post.data.title}</a></h1>
						<strong>{post.data.date.toLocaleDateString()}</strong>
					</div>
				))
			}
        </ContentWrapper>
	</body>
</html>