---
import '../styles/global.css'
import Head from '../components/Head.astro';
import Headline from "../components/Headline.astro";
import EntriesPage from '../layouts/EntriesPage.astro';
import ContentWrapper from "../components/ContentWrapper.astro";
import SmallNavigation from '../components/SmallNavigation.astro';
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (b, a) => {
    const dateA = a.data.updated_date ? a.data.updated_date.valueOf() : a.data.published_date.valueOf();
    const dateB = b.data.updated_date ? b.data.updated_date.valueOf() : b.data.published_date.valueOf();
    return dateA - dateB;
  }
);
---
<style>
	h1 {
		margin-bottom: 5px;
		margin-top:0px;
	}
</style>
<html lang="en">
	<Head title="blog"></Head>
	<body>
		<Headline title={"BLOG"}></Headline>
		<SmallNavigation page="blog" showBack={false} showHome showAdventures showContact></SmallNavigation>
		<ContentWrapper>
			{
				posts.map(post => (
					<div id={post.id}>
						<h1><a href={`/blog/${post.id}`}>{post.data.title}</a></h1>
						<strong id="blog-date">{post.data.updated_date ? post.data.updated_date.toLocaleDateString() : post.data.published_date.toLocaleDateString()}</strong>
						<p id="blog-desc">{post.data.description}</p>
					</div>
				))
				}
		</ContentWrapper>
	</body>
</html>