---
import '../styles/global.css'
import Head from '../components/Head.astro';
import Headline from "../components/Headline.astro";
import EntriesPage from '../layouts/EntriesPage.astro';
import ContentWrapper from "../components/ContentWrapper.astro";
import SmallNavigation from '../components/SmallNavigation.astro';
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort((b,a) => a.data.date.valueOf() - b.data.date.valueOf());
---
<style>
	h1 {
		margin-bottom: 5px;
		margin-top:0px;
	}
</style>
<html lang="en">
	<Head title="blog"></Head>
	<body>
		<Headline title={"BLOG"}></Headline>
		<SmallNavigation page="blog" showBack={false} showHome showAdventures showContact></SmallNavigation>
		<ContentWrapper>
			{
				posts.map(post => (
					<div id={post.id}>
						<h1><a href={`/blog/${post.id}`}>{post.data.title}</a></h1>
						<strong>{post.data.date.toLocaleDateString()}</strong>
					</div>
				))
			}
		</ContentWrapper>
	</body>
</html>